Button {
    -fx-background-color: #ffa67f;
    -fx-cursor: hand;
    -fx-text-fill: #FFFFFF;
    -fx-min-width: 120px;
    -fx-pref-height: 32px;
    -fx-font-size: 14px;
}

Button:hover {
    -fx-background-color: #ffb292;
}

Button:pressed {
    -fx-background-color: #ff8679;
}

TextField, PasswordField {
    -fx-min-width: 200px;
    -fx-min-height: 32px;
    -fx-max-height: 32px;
    -fx-pref-height: 32px;
    -fx-padding: 2px;
    -fx-font-size: 16px;
}

ComboBox {
    -fx-pref-height: 32px;
    -fx-min-width: 180px;
    -fx-background-color: #f5f5f5;
    -fx-border-color: #DDDDDD;
    -fx-border-radius: 4px;
    -fx-font-size: 14px;
}

.btn-success {
    -fx-background-color: #53da85;
}

.btn-success:hover {
    -fx-background-color: #78e899;
}

.btn-success:pressed {
    -fx-background-color: #3ee849;
}

.btn-info {
    -fx-background-color: #54c8d8;
}

.btn-info:hover {
    -fx-background-color: #5ad7e8;
}

.btn-info:pressed {
    -fx-background-color: #7594d8;
}

Label {
    -fx-pref-height: 32px;
    -fx-min-width: 40px;
    -fx-font-weight: bold;
}

.header Label {
    -fx-min-width: 20px;
}

.config-dialog .title {
    -fx-min-width: 120px;
}

.config-dialog TextField, .config-dialog PasswordField {
    -fx-min-width: 330px;
}

.combo-format {
    -fx-min-width: 140px;
    -fx-pref-width: 140px;
    -fx-max-width: 140px;
}

.textfiled-pattern {
    -fx-min-width: 300;
}

.table-view{
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background,.table-view .filler{
    -fx-pref-height: 20px;
    -fx-min-height: 20px;
    -fx-max-height: 20px;
    -fx-background-color: #4c4a4a;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: black;
}

/*.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #8e8f8e;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; !* 0 *!
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #696a69;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; !* 0 *!
}*/

.table-row-cell:selected {
    -fx-background-color: #c2f6c7;
}
.table-row-cell:selected .table-cell {
    /*-fx-text-fill: white;*/
    -fx-border-color: transparent;
}


/* Header Sort Arrows */
.table-view .arrow {
    -fx-mark-color: white ;
}

.table-view {
    -fx-border-width: 1;
    -fx-border-color: darkgrey;
}

.drawer, .drawer>*, .drawer>.content-area {
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

.textarea-value, .textarea-value .content {
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-border-insets: 0;
}
